---
title: Le Wagon - Middleman
---


<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <div class="about">
      <a href="about.html">More about this template</a>
    </div>

    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</div>

<%= partial 'layouts/cards' %>

